//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 28 13:56:59 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clock" LOCATE = SITE "L16" LEVEL 1;
COMP "reset" LOCATE = SITE "R18" LEVEL 1;
SCHEMATIC END;

